{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} test{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% tailwind_css %}
    <link rel="icon" href="" type="image/png" class="h-6">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
          integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!--    Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

</head>

<!-- Postaviti klasu overflow-x-hidden-->
<body class="font-sans font-light">
<!-- Ikonica koja vodi na početak -->
{% include 'header.html' %}


{% block content %}
{% endblock %}


{% include 'footer.html' %}


<a href="#top" class="scroll-to-top fixed right-5 md:right-5 lg:right-10 bottom-10 z-50 text-white transition">
    <div class="relative group ">
        <!-- Metalni deo metra (gornja slika) -->
        <img src="{% static 'img/to_the_top.png' %}" class="w-12"/>

    </div>
</a>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/scrollToTop.js' %}"></script>

</body>

</html>


