{% load static %}

<section class="relative h-screen w-full overflow-hidden">
    <video autoplay muted loop class="absolute top-0 left-0 w-full h-full object-cover">
        <source src="{% static 'video/hero.mp4'%}" type="video/mp4">
        Vaš pregledač ne podržava HTML5 video.
    </video>

    <!-- Overlay za tamniji efekat -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <!-- Sadržaj preko videa -->
    <div class="relative flex flex-col items-center justify-center h-full text-white text-center">
<!--        <h1 class="text-4xl lg:text-6xl font-bold">{{title}}</h1>-->
<!--        <p class="text-xl mt-4">{{description}}</p>-->
<!--        <a href="#" class="mt-6 px-6 py-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">Saznaj više</a>-->
    </div>
</section>