{% load static %}

<br>
<h1 class="text-4xl text-center font-semibold">Usluge</h1><br><br>
<div class="p-4 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-6 gap-5 z-10 text-black items-center">
    <a href="" class="">
        <div class="flex items-center flex-col justify-center">
            <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                <img src="{% static 'img/services/org.png'%}" alt="" class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
            </div>
            <p class="text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
        </div>
    </a>
    <a href="" class="">
        <div class="flex items-center flex-col justify-center">
            <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                <img src="{% static 'img/services/transfer.png'%}" alt="" class="w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90"/>
            </div>
            <p class="text-xl text-center font-semibold">Transfer plovila do zeljene lokacije</p>
        </div>
    </a>
    <a href="" class="">
        <div class="flex items-center flex-col justify-center">
            <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                <img src="{% static 'img/services/registration.png'%}" alt="" class="w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90"/>
            </div>
            <p class="text-xl text-center font-semibold">Posredovanje pri registraciji plovila</p>
        </div>
    </a>
    <a href="" class="">
    <div class="flex items-center flex-col justify-center">
        <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
            <img src="{% static 'img/services/care.png'%}" alt="" class="w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90"/>
        </div>
        <p class="text-xl text-center font-semibold">Vansezonska briga o plovilu</p>
    </div>
    </a>
    <a href="" class="">
        <div class="flex items-center flex-col justify-center">
            <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                <img src="{% static 'img/services/services.png'%}" alt="" class="w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90"/>
            </div>
            <p class="text-xl text-center font-semibold">Usluge dockinga i održavanje plovila</p>
        </div>
    </a>
    <a href="" class="">
        <div class="flex items-center flex-col justify-center">
            <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                <img src="{% static 'img/services/customerservice.png'%}" alt="" class="w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90"/>
            </div>
            <p class="text-xl text-center font-semibold">Tehnička podrška i servis</p>
        </div>
    </a>
</div>

