{% load static %}

<br>
<h1 class="text-4xl text-center font-semibold">Usluge</h1><br><br>
<div class="md:p-4 grid grid-cols-1 md:grid-cols-2 gap-20 z-10 text-black items-center">
    <a href="" class="">
        <div class="flex">
            <div class="border-r-4 border-[#5b7ca0] pr-5 mr-5">
                <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                    <img src="{% static 'img/services/org.png'%}" alt=""
                         class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
                </div>
            </div>
            <div class=" flex flex-col justify-around">
                <p class="text-lg md:text-2xl font-bold text-[#5b7ca0]">1</p>
                <p class="md:text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
                <div class="text-sm mt-5 md:mt-0 w-fit border-2 border-sky-600 text-white shadow-lg bg-[#5b7ca0] py-2 px-2 md:px-5 cursor-pointer hover:bg-sky-600 custom-hover rounded-xl transform transition-transform hover:scale-x-110 duration-300 origin-left">
                    DETALJNIJE
                    <span class="ml-2 arrow inline-block transition-transform duration-300 ease-out"><i
                            class="fa-solid fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </a>
        <a href="" class="">
        <div class="flex">
            <div class="border-r-4 border-[#5b7ca0] pr-5 mr-5">
                <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                    <img src="{% static 'img/services/org.png'%}" alt=""
                         class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
                </div>
            </div>
            <div class=" flex flex-col justify-around">
                <p class="text-lg md:text-2xl font-bold">1</p>
                <p class="md:text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
                <div class="text-sm mt-5 md:mt-0 w-fit border-2 border-sky-600 text-white shadow-lg bg-[#5b7ca0] py-2 px-2 md:px-5 cursor-pointer hover:bg-sky-600 custom-hover rounded-xl transform transition-transform hover:scale-x-110 duration-300 origin-left">
                    DETALJNIJE
                    <span class="ml-2 arrow inline-block transition-transform duration-300 ease-out"><i
                            class="fa-solid fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </a>
        <a href="" class="">
        <div class="flex">
            <div class="border-r-4 border-[#5b7ca0] pr-5 mr-5">
                <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                    <img src="{% static 'img/services/org.png'%}" alt=""
                         class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
                </div>
            </div>
            <div class=" flex flex-col justify-around">
                <p class="text-lg md:text-2xl font-bold">1</p>
                <p class="md:text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
                <div class="text-sm mt-5 md:mt-0 w-fit border-2 border-sky-600 text-white shadow-lg bg-[#5b7ca0] py-2 px-2 md:px-5 cursor-pointer hover:bg-sky-600 custom-hover rounded-xl transform transition-transform hover:scale-x-110 duration-300 origin-left">
                    DETALJNIJE
                    <span class="ml-2 arrow inline-block transition-transform duration-300 ease-out"><i
                            class="fa-solid fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </a>
        <a href="" class="">
        <div class="flex">
            <div class="border-r-4 border-[#5b7ca0] pr-5 mr-5">
                <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                    <img src="{% static 'img/services/org.png'%}" alt=""
                         class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
                </div>
            </div>
            <div class=" flex flex-col justify-around">
                <p class="text-lg md:text-2xl font-bold">1</p>
                <p class="md:text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
                <div class="text-sm mt-5 md:mt-0 w-fit border-2 border-sky-600 text-white shadow-lg bg-[#5b7ca0] py-2 px-2 md:px-5 cursor-pointer hover:bg-sky-600 custom-hover rounded-xl transform transition-transform hover:scale-x-110 duration-300 origin-left">
                    DETALJNIJE
                    <span class="ml-2 arrow inline-block transition-transform duration-300 ease-out"><i
                            class="fa-solid fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </a>
        <a href="" class="">
        <div class="flex">
            <div class="border-r-4 border-[#5b7ca0] pr-5 mr-5">
                <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                    <img src="{% static 'img/services/org.png'%}" alt=""
                         class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
                </div>
            </div>
            <div class=" flex flex-col justify-around">
                <p class="text-lg md:text-2xl font-bold">1</p>
                <p class="md:text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
                <div class="text-sm mt-5 md:mt-0 w-fit border-2 border-sky-600 text-white shadow-lg bg-[#5b7ca0] py-2 px-2 md:px-5 cursor-pointer hover:bg-sky-600 custom-hover rounded-xl transform transition-transform hover:scale-x-110 duration-300 origin-left">
                    DETALJNIJE
                    <span class="ml-2 arrow inline-block transition-transform duration-300 ease-out"><i
                            class="fa-solid fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </a>
        <a href="" class="">
        <div class="flex">
            <div class="border-r-4 border-[#5b7ca0] pr-5 mr-5">
                <div class="p-5 rounded-full border-4 border-[#5b7ca0] overflow-hidden">
                    <img src="{% static 'img/services/org.png'%}" alt=""
                         class=" w-32 object-cover transition-transform duration-300 ease-in-out hover:scale-90 rounded"/>
                </div>
            </div>
            <div class=" flex flex-col justify-around">
                <p class="text-lg md:text-2xl font-bold">1</p>
                <p class="md:text-xl text-center font-semibold">Organizacija „Survey“ pregleda</p>
                <div class="text-sm mt-5 md:mt-0 w-fit border-2 border-sky-600 text-white shadow-lg bg-[#5b7ca0] py-2 px-2 md:px-5 cursor-pointer hover:bg-sky-600 custom-hover rounded-xl transform transition-transform hover:scale-x-110 duration-300 origin-left">
                    DETALJNIJE
                    <span class="ml-2 arrow inline-block transition-transform duration-300 ease-out"><i
                            class="fa-solid fa-arrow-right"></i></span>
                </div>
            </div>
        </div>
    </a>

</div>


