{% extends 'base.html' %}

{% load static %}
{% block title %}Index{% endblock %}

{% block content %}


<section id="boatDetails" class="mx-auto max-w-[1400px] mt-[150px] md:mt-[100px] p-5">
    {% include 'website/components/breadcrumbs.html' %}

    <div class="grid gap-10 grid-cols-3 ">
        <div class="col-span-3 xl:col-span-2">
            {% include 'website/components/gallery.html' with yacht=yacht %}
            <br><br>l
            <h1 class="text-4xl">{{yacht.name}}</h1><br>
            <div class="my-20 text-gray-600 font-bold  border-b-5 bg-gray-100 grid grid-cols-1 md:grid-cols-3 group relative rounded-xl shadow-lg text-center">
                <div class="p-5 border-b cursor-pointer hover:bg-gray-300 custom-hover rounded-xl transform transition-transform hover:-translate-y-1 duration-500"
                     onclick="scrollToElement('target1')">Dodatne Informacije
                </div>
                <div class="p-5 border-b cursor-pointer hover:bg-gray-300 custom-hover rounded-xl transform transition-transform hover:-translate-y-1 duration-500"
                     onclick="scrollToElement('target2')">Palube
                </div>
                <div class="p-5 border-b cursor-pointer hover:bg-gray-300 custom-hover rounded-xl transform transition-transform hover:-translate-y-1 duration-500"
                     onclick="scrollToElement('target3')">Virtual Tour
                </div>
                <div class="p-5 border-b cursor-pointer hover:bg-gray-300 custom-hover rounded-xl transform transition-transform hover:-translate-y-1 duration-500"
                     onclick="scrollToElement('target4')">Video
                </div>
            </div>
            <div class="my-10 grid grid-cols-2 md:grid-cols-4 grid-rows-2 gap-0">
                {% for characteristic in yacht.characteristics.all %}
                {% if characteristic.name == 'model' %}
                <div class="border-r border-b border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl"> {{characteristic.value}} </p>
                </div>
                {% endif %}
                {% if characteristic.name == 'length' %}
                <div class="md:border-r border-b border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% if characteristic.name == 'beam' %}
                <div class="border-r border-b border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% if characteristic.name == 'draft' %}
                <div class="border-b border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% if characteristic.name == 'weight' %}
                <div class="border-r border-b md:border-b-0 border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% if characteristic.name == 'propulsion' %}
                <div class="md:border-r border-b md:border-b-0 border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% if characteristic.name == 'fuel_tank' %}
                <div class="border-r border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% if characteristic.name == 'water_tank' %}
                <div class="border-gray-200 p-4">
                    <p class="">{{characteristic.get_name_display}}</p>
                    <p class="text-2xl">{{characteristic.value}}</p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <br>
            <br>
            <!-- Naslov -->
            <div id="target1">
                {% include 'website/components/title_subtitle.html' with yacht=yacht %}
            </div>
            <br>
            <br>
            <br>
            <div id="target2">
                <br><br>
                {% include 'website/components/mini_gallery.html' %}
            </div>

            <br>
            <br>
            <br>
            <div id="target3">
                <br>
                <br>
                <h2>Virtual Tour</h2>
                <div class="rounded-xl">
                    <a href="https://www.absoluteyachts.com/en/virtual-tour/virtual-tour-navetta-75/">
                        <img src="{% static 'img/virtual.jpg' %}" class="w-full rounded-xl"/>
                    </a>
                </div>

            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Video</h2>
            <div class="relative w-full max-w-4xl mx-auto mt-8" style="padding-top: 56.25%;">
                <iframe
                        class="absolute top-0 left-0 w-full h-full rounded-xl shadow-lg"
                        src="https://www.youtube.com/embed/MM5525A4bsQ?si=seJAClLMqwaO-qSk"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen>
                </iframe>
            </div>
            <br>
            <br>
            <br>
            <br>


        </div>
        <div class="hidden xl:block col-span-1">
            <div class="fixed max-w-lg mx-auto p-6 bg-gray-100 rounded-lg shadow-md mr-5">
                {% include 'website/components/contact_form.html' with yacht=yacht %}
            </div>
        </div>
    </div>
</section>


{% include 'website/components/side-icons.html' %}
<script src="{% static 'js/titleSubtitle.js' %}"></script>

<script>
    function scrollToElement(targetId) {
      const element = document.getElementById(targetId);
      const offset = 100;  // Podesi razmak od vrha (npr 100px)

      window.scrollTo({
        top: element.offsetTop - offset,
        behavior: 'smooth'
      });
    }
</script>


{% endblock %}

